.animals {
    border-color: #11ffee00;
      border-width: 5px;
      border-style: solid;
      border-radius: 50%
}
.animals-size {
  width: 150px;
}
.products-title {
  font-family: Baloo 2, Baloo 2 - 700;
  color: #3c3731;
  margin-left: auto;
  margin-right: auto;
  width: 6em
}
.products__carousel-animals-item {
  display: block;
    margin-left: auto;
    margin-right: auto }
}